/* Variables
-------------------------------------------- */
:root {
  /* Theme Colors */
  --primary: #dc5431;
  --light: #f7f7f2;
  --text-color: #676767;
  --bold-color: #222222;
  --body-bg: #f4f4ef;
  --block-bg: #e4e4dd;
  --shadow: 0 0 6px 1px #cccccc;
  --border: #dedede;
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
/* HTML and Body
-------------------------------------------- */
html,
body {
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.6;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
  padding: 0;  
  line-height: 1.6;
  background-color: var(--body-bg);
  color: var(--text-color);
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* HTML5 display definitions
-------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
[hidden],
template {
  display: none;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* Typography
-------------------------------------------- */
/* Typography -> Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.2rem 0 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: var(--bold-color);
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5, h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Typography -> Links. */
a {
  color: var(--primary);
  transition: color 0.4s ease;
}
a,
a:hover,
a:active,
a:focus {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  border: 0;
  outline: 0;
}
a:hover {
color: var(--bold-color);
}
a:active,
li a.active {
  color: var(--primary);
}

/* Typography -> Abbreviation */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
abbr {
  cursor: help;
}
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Typography -> Text styling */
b,
strong {
  font-weight: bold;
  color: var(--bold-color);
}
i,
dfn,
cite {
  font-style: italic;
}
em {
  font-size: normal;
  color: var(--primary);
}
mark,
ins {
  padding: 4px 8px;
  background-color: var(--primary);
  color: #ffffff;
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 80%;
}
big {
  font-size: 125%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}

/* Paragraph */
p {
  margin: 0 0 1rem 0;
}

/* Blockquote */
blockquote,
[dir="rtl"] blockquote {
  position: relative;
  margin: 10px 0 1rem 0;
  padding: 1rem;
  background: var(--light);
  border: 2px solid #ffffff;
  box-shadow: var(--shadow);
}
blockquote:before {
  content: "\f10d";
  margin-right: 8px;
  font-family: "FontAwesome";
  font-size: 1.4em;
  color: var(--bold-color);
}
[dir="rtl"] blockquote:before {
  content: "\f10d";
  margin-right: 0;
  margin-left: 0.2em;
  font-family: "FontAwesome";
  font-size: 1.4em;
  color: var(--bold-color);
}
blockquote > p:first-child {
  display: inline;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/* HTML code tags */
pre {
  overflow: auto;
}
kbd {
  padding: 4px 10px;
  font-family: monospace, monospace;
  font-size: 1rem;
  background-color: var(--light);
}
pre,
samp {
  margin: 1rem 0;
  padding: 4px 1rem;
  font-family: monospace, monospace;
  font-size: 1rem;
  background-color: var(--light);
  border: 2px solid #ffffff;
  box-shadow: var(--shadow);
}
code {
  padding: 2px 10px;
  font-family: monospace, monospace;
  font-size: 1rem;
  background: #ffffff;
}
.backtrace {
  background: var(--bold-color);
}

/* Address */
address {
  margin: 0 0 1.75rem;
  font-style: italic;
}

/* Definition Lists */
dl {
  margin: 0 0 1.75rem;
}
dt {
  font-weight: 400;
  color: var(--bold-color);
}
dd {
  margin: 0 0 1.75rem;
}

/* List */
ul,
ol {
  margin: 0;
  padding: 0 0 0.25rem 1rem; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1rem 0.25rem 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25rem 1rem; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1rem 0.25rem 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
li {
  padding: 4px 0;
}
.node-content li {
  padding: 6px 0;
}

/* Forms
------------------------------------------- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}
button[disabled],
html input[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
input {
  line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 10px;
  background: #ffffff;
  max-width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  transition: border 0.3s linear;
}
textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 4px;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid var(--primary);
  outline: 0;
}
input[type="submit"],
input[type="button"],
button {
  padding: 9px 10px;
  background-color: var(--primary);
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background-color: var(--bold-color);
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0.35rem 0.5rem 0.5rem 0;
  border: 1px solid var(--border);
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  border: 0;
  box-sizing: border-box;
  white-space: normal;
}
optgroup {
  font-weight: bold;
}
select {
  padding: 4px 0;
}
form label {
  display: table;
  font-weight: bold;
}
label[for] {
  cursor: pointer;
}
.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="search"] {
  padding: 9px 6px;
  outline: 0;
}

/* Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}
.form-required:after {
  content: "\f069";
  display: inline-block;
  padding-left: 4px;
  font-family: "FontAwesome";
  font-size: 0.5em;
  color: var(--primary);
  vertical-align: super;
}
.form-item label {
  display: block;
}
label.option {
  display: inline;
  font-weight: normal;
}
/* placeholder */
::-webkit-input-placeholder {
  color: #8a8a8a;
}
:-moz-placeholder {
  color: #8a8a8a;
}
::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8a8a8a;
}

/* Table
-------------------------------------------- */
table {
  width: 100%;
  margin-bottom: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
tr,
td {
  vertical-align: middle;
}
th {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--border);
  text-align: left;
  text-shadow: none;
}
th a {
  color: #ffffff;
}
td {
  padding: 5px 10px;
  border: 2px solid var(--border);
}

/* Media
-------------------------------------------- */
img,
picture,
svg {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border: 0;
}
figcaption {
  padding: 4px;
  font-size: 0.8rem;
  background: #ffffff;
  border: 1px solid var(--border);
  text-align: center;
}
.align-left,
img.align-left,
figure.align-left {
  float: left;
  margin: 20px 20px 20px 0;
}
.align-right,
img.align-right,
figure.align-right {
  float: right;
  margin: 20px 0 20px 20px;
}
.align-center,
img.align-center,
figure.align-center {
  display: block;
  clear: both;
  margin: 20px auto;
}
figure.align-center {
  display: table;
}
figure.align-center img {
  display: block;
  clear: both;
  margin: 0 auto;
}

/* Drupal core -> image filed. */
.image-field {
  margin: 0 0 1rem 0;
}

/* Other HTML Elements
-------------------------------------------- */
hr {
  clear: both;
  height: 2px;
  margin: 8px 0;
  background: var(--border);
  border: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
details {
  display: block;
}
summary {
  padding: 0.5rem;
  background-color: var(--light);
  cursor: pointer;
  color: var(--text-color);
}

/* Default box sizing
-------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* misc */
::selection {
  background: var(--primary);
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: var(--primary);
  color: #ffffff;
  text-shadow: none;
}

