/* Comments
--------------------------------------*/
#node-comment {
  position: relative;
  margin-top: 30px;
  border-top: 3px double var(--border);
}
#node-comment i {
  color: var(--primary);
}
.comment-form-wrap {
  position: relative;
  margin: 10px 0;
  padding: 20px;
  background: var(--light);
  border: 3px solid #ffffff;
  box-shadow: var(--shadow);
}
h2.add-comment-title {
  border-bottom: 2px solid #ffffff;
}
.filter-wrapper {
  font-size: 0.9rem;
  border: 2px solid #ffffff;
}
.filter-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.filter-wrapper ul li {
  padding: 6px 0;
  border-bottom: 1px solid #ffffff;
}
.filter-wrapper ul li:last-child {
  border: 0;
}

/* Comments -> single comment */
.single-comment {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: 2px solid #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadow);
  gap: 10px;
}
.comment-user-picture {
  flex: 0 0 100px;
  width: 100px;
  max-width: 100%;
  padding: 0 10px;
  border-right: 2px solid #fff;
}
.comment-user-picture img {
  width: 100px;
  height: auto;
}
.single-comment-body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.single-comment-title {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}
.single-comment-meta {
  width: 100%;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 0.9rem;
  color: #909090;
  border-bottom: 1px solid var(--border);
}
.single-comment-meta a {
  color: #909090;
}
.single-comment-content .links a {
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: all 0.3s;
}
.single-comment-content .links a:hover {
  background-color: #ffffff;
}
#node-comment .indented {
  margin-left: 60px;
}
