/* Drupal core styles
-------------------------------------- */
/* Drupal core -> view */
.views-view-grid .views-col {
  padding: 5px;
}
.views-view-grid .views-field-title {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  background: #ccc;
  border: 2px solid #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-align: center;
}
.views-view-grid .views-field-title:hover {
  background: #fff;
  border: 2px solid #ccc;
}
.views-view-grid .views-field-title a {
  color: #222;
}

/* Field Label
-------------------------------------- */
[dir] .field:not(:last-child){
  margin-bottom:36px;
}

.field__label{
  font-weight:bold;
}

[dir=ltr] .field--label-inline .field__label, [dir=ltr] .field--label-inline .field__items{
  float:left;
}

[dir=rtl] .field--label-inline .field__label, [dir=rtl] .field--label-inline .field__items{
  float:right;
}

[dir=ltr] .field--label-inline .field__label, [dir=ltr] .field--label-inline > .field__item, [dir=ltr] .field--label-inline .field__items{
  padding-right:0.5em;
}

[dir=rtl] .field--label-inline .field__label, [dir=rtl] .field--label-inline > .field__item, [dir=rtl] .field--label-inline .field__items{
  padding-left:0.5em;
}

.field--label-inline .field__label::after{
  content:":";
}

/* Rss feed icon
-------------------------------------- */
.feed-icon {
  position: relative;
  display: block;
  font-size: 0;
  min-height: 40px;
  margin: 10px 0;
}
.feed-icon::before {
  position: absolute;
  content: "\f09e";
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 1;
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid var(--primary);
}


/* Fixing Calender Module
-------------------------------------- */
.calendar-calendar .full {
  display: table;
}
.calendar-calendar .empty {
  display: table-cell;
}