/* Error page
-------------------------------------- */
.error-page {
  text-align: center;
}
.error-page h1 {
  font-size: 10rem;
  line-height: 1.2;
}
.error-page h2 {
  font-size: 7rem;
  line-height: 1.2;
}
.error-page h3 {
  font-size: 5rem;
  line-height: 1.2;
}