/* Custom Homepage
--------------------------------------*/
/* Custom Homepage -> homepage blocks. */
.section,
.homepage-content {
  position: relative;
  z-index: 2;
}
.homepage-content-block .block {
  margin-bottom: 70px;
}
.block-title,
.title {
  position: relative;
}
.homepage-content h3.block-title,
.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.homepage-content h3.block-title::after,
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 2px;
  margin-left: -25px;
  background: var(--primary);
}
.region-content-home {
  display: flex;
  flex-direction: column;
}
.welcome-message {
  text-align: center;
}

/* Custom Homepage -> services. */
.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.service {
  position: relative;
  flex: 1 0 300px;
  padding: 1rem;
  background: #ffffff;
  text-align: center;
  box-shadow: var(--shadow);
}
.service i {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 3em;
  background: var(--light);
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 50%;
  transition: all 0.8s ease;
  text-align: center;
}
.service:hover i {
  background: var(--primary);
  color: #fff;
}
.service h3 {
  margin: 0.8em 0;
}
/* Projects */
.projects {
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.project {
  position: relative;
  flex: 1 0 300px;
}
.project img {
  position: relative;
}
.project-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background: rgba(0,0,0,0.8);
  padding: 1rem;  
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  opacity: 0;
}
.project:hover .project-content {
  -webkit-animation: slideUp 0.8s ease;
  -moz-animation: slideUp 0.8s ease;
  -o-animation: slideUp 0.8s ease;
  animation: slideUp 0.8s ease;
  opacity: 1;
}
.project-content h1,
.project-content h2,
.project-content h3,
.project-content h4,
.project-content h5 {
  font-weight: 300;
  color: #ffffff;
}
.project-content a,
.project-content a:visited,
.project-content a:hover {
  color: #ffffff;
}
